<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout::logo"></div>
    <form method="post" th:object="${customer}" enctype="multipart/form-data">
        <input th:field="*{name}">
        <input th:field="*{address}">
        <input th:field="*{email}">
        <input th:field="*{avatar}" type="file">
        <button type="submit">Tao moi</button>
    </form>
<div th:replace="/layout::footer"></div>
</body>
</html>